@use "../helpers/" as *;

.card {
  --columns: 3;

  
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: rem(40);
  justify-content: center;
  padding-block: rem(20);
  
  @include desktop-above {
    --columns: 4;
  }

  @include laptop {
    --columns: 2;
  }

  @include tablet {
    --columns: 2;
  }

  @include mobile {
    --columns: 1;
  }
  
  &__wrapper {
    background-color: var(--color-dark-40);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: rem(430);
    height: 100%;
    padding: rem(20);
    border-radius: rem(14);

    @include tablet {
    width: rem(300);
    }
  }

  &__image {
    align-items: center;
    width: rem(300);
    height: rem(260);

    @include tablet {
    width: rem(250);
    height: rem(200);
    }

    &-image {
    width: rem(300);
    height: rem(260);

    @include tablet {
      width: rem(250);
      height: rem(200);
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: rem(10);
    align-items: center;

    &-title {
      @include fluid-text(36, 18);
      color: var(--color-light);
      text-align: center
    }
    
    &-price {
      @include fluid-text(24, 18);
      color: lawngreen;
    }
  }

  &__purchase {
    display: flex;
    gap: rem(20);
    width: 100%;
    align-items: center;
    
    @include tablet-above {

      justify-content: center;
    }
    
    &-input {
      text-align: center;
    }
    
    &-sell,
    &-buy {
      border: none;
      border-radius: rem(4);
      
      @include tablet-above {
        min-width: rem(100);
      }
      
      @include tablet {
        width: 100%;
      }

    }

    &-sell {
      background-color: var(--color-light);

      transition: all 0.3s ease;
      &.inactive {
        opacity: 0.4;
        cursor: not-allowed;
      }
    
      &.active {
        opacity: 1;
        cursor: pointer;
      }
    }

    &-buy {
      background: linear-gradient(180deg,#2ecc71,#1abc9c);
      color: var(--color-light);

      transition: all 0.3s ease;
      &.inactive {
        opacity: 0.4;
        cursor: not-allowed;
      }
    
      &.active {
        opacity: 1;
        cursor: pointer;
      }
    }

    @include tablet {
      display: grid;
      grid-template-areas: 
      "sell buy"
      "input input";

      &-sell {
        grid-area: sell;

        transition: all 0.3s ease;
        &.inactive {
          opacity: 0.5;
          cursor: not-allowed;
        }
        &.active {
          opacity: 1;
          cursor: pointer;
        }
      }

      &-buy {
        grid-area: buy;
      }

      &-input {
        grid-area: input;
        width: 100%;
      }
    }




  }
}